/* @mixin small-mobile {
  @media (max-width: $small-mobile-width){ 
    @content;
  } 
} */
/* MAIN STYLING */
@font-face {
  font-family: 'CurrysSans';
  src: url('https://currys-ssl.cdn.dixons.com/css/themes/fonts/currys/CurrysSans-Regular.woff') format('woff'),
      url('https://currys-ssl.cdn.dixons.com/css/themes/fonts/currys/CurrysSans-Regular.otf') format('truetype'),
      url('https://currys-ssl.cdn.dixons.com/css/themes/fonts/currys/CurrysSans-Regular.eot?') format('embedded-opentype'); /* IE6-IE8 */
      font-weight: normal;
      font-style: normal;
}


@font-face {
  font-family: 'CurrysSans';
  src: url('https://currys-ssl.cdn.dixons.com/css/themes/fonts/currys/CurrysSans-Headline.woff') format('woff'),
      url('https://currys-ssl.cdn.dixons.com/css/themes/fonts/currys/CurrysSans-Headline.otf') format('truetype'),
      url('https://currys-ssl.cdn.dixons.com/css/themes/fonts/currys/CurrysSans-Headline.eot?') format('embedded-opentype'); /* IE6-IE8 */
   font-weight: 700;
   font-style: normal;
}
#dsgContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#currys-style {
  font-family: 'CurrysSans', sans-serif;
  margin: 0 auto;
  font-size: 16px; /* CHANGE IN SASS - REMOVE ANY INSTANCE OF FONT-SIZE: 15PX IN TABS AND HEADER */
 }
  @media (min-width: 1240px) {
    #currys-style {
      width: 1240px; } }
  #currys-style a {
    text-decoration: none;
    color: #4C12A1;
    }
  #currys-style .nov-update{
    margin: 15px 0;
  }
  #currys-style .nov-update li{
    margin-bottom: 8px;
  }
  #currys-style .nov-returns{
    margin-bottom: 30px;
  }
  
  #currys-style .please-note{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  #currys-style .top-banner img {
    max-width: 100%; }
  #currys-style [class^="col"], #currys-style [class*="col"] {
    float: none;
    margin: 0; }
  #currys-style .how-to-buy {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(250, 245, 255);
    color: #4C12A1;
    display: none;
    margin: 0 0 20px 0;
    padding: 0 15px;
    }
    @media (min-width: 600px) {
      #currys-style .how-to-buy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 20px 0 20px 0; } }
    @media (min-width: 1240px) {
      #currys-style .how-to-buy {
        border-radius: 10px;
        padding: 0 20px;
        height: 63px;
        } }
    #currys-style .how-to-buy .vertical-line {
      display: inline-block;
      border-left: 1px solid #fff;
      margin: 0 10px;
      height: 45px; }
    #currys-style .how-to-buy .ways-to-buy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 8px 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 84%; }
      @media (min-width: 1240px) {
        #currys-style .how-to-buy .ways-to-buy {
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0;
          width: 87%; } }
    #currys-style .how-to-buy .online, #currys-style .how-to-buy .in-store, #currys-style .how-to-buy .call {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0px 10px;
      width: 30%; }
      #currys-style .how-to-buy .online:not(.online), #currys-style .how-to-buy .in-store:not(.online), #currys-style .how-to-buy .call:not(.online) {
        width: 33%; }
      @media (min-width: 1025px) {
        #currys-style .how-to-buy .online, #currys-style .how-to-buy .in-store, #currys-style .how-to-buy .call {
          padding: 0; } }
      @media (min-width: 1240px) {
        #currys-style .how-to-buy .online, #currys-style .how-to-buy .in-store, #currys-style .how-to-buy .call {
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
    #currys-style .how-to-buy h2, #currys-style .how-to-buy h3 {
      font-size: 12px; }
      @media (min-width: 1025px) {
        #currys-style .how-to-buy h2, #currys-style .how-to-buy h3 {
          font-size: 14px; } }
    #currys-style .how-to-buy h2 {
      margin: 0;
      text-align: center; }
    #currys-style .how-to-buy h3 {
      margin: 0 0 3px 0; }
    #currys-style .how-to-buy .how-to-buy-text {
      margin-left: 8px; }
      #currys-style .how-to-buy .how-to-buy-text a {
        color: #fff;
        text-decoration: none; }
    #currys-style .how-to-buy p {
      font-size: 12px;
      margin: 0; }
      @media (min-width: 1025px) {
        #currys-style .how-to-buy p {
          font-size: 13px; } }
    #currys-style .how-to-buy img {
      height: 35px;
      width: auto; }
      @media (min-width: 1025px) {
        #currys-style .how-to-buy img {
          height: 49px; } }
  #currys-style .how-to-buy-mobile {
    display: block;
    background: #4C12A1;
    
    /* UNDO GRID STYLE RULES */
    }
    @media (min-width: 600px) {
      #currys-style .how-to-buy-mobile {
        display: none; } }
    #currys-style .how-to-buy-mobile [class^="col"], #currys-style .how-to-buy-mobile [class*="col"] {
      display: inline;
      float: none;
      margin-left: 0; }
    #currys-style .how-to-buy-mobile a h2 {
      padding: 12px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      margin-bottom: 0; }
      #currys-style .how-to-buy-mobile a h2:after {
        content: "\f078";
        font-family: 'DCG-Icons', Arial, sans-serif;
        color: #fff;
        font-size: 11px;
        margin-left: 10px; }
    #currys-style .how-to-buy-mobile a.active h2:after {
      content: "\f077";
      font-family: 'DCG-Icons', Arial, sans-serif;
      color: #fff;
      font-size: 11px;
      margin-left: 10px; }
    #currys-style .how-to-buy-mobile .how-to-buy-wrapper {
      border-top: 1px solid white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 8px;
      padding: 0 0 15px 0; }
    #currys-style .how-to-buy-mobile div {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 33%;
              flex: 0 1 33%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #currys-style .how-to-buy-mobile div img {
        display: block;
        margin: 0 auto;
        padding: 10px 0; }
    #currys-style .how-to-buy-mobile .how-to-buy-text-mobile {
      color: white;
      text-align: center; }
      #currys-style .how-to-buy-mobile .how-to-buy-text-mobile h3 {
        font-size: 11px; }
      #currys-style .how-to-buy-mobile .how-to-buy-text-mobile p {
        margin-bottom: 0;
        font-size: 11px; }
      #currys-style .how-to-buy-mobile .how-to-buy-text-mobile a {
        color: #fff; }
  #currys-style .main-content {
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 10px;
    border-radius: 10px;
    }
    #currys-style .main-content h2 {
      margin: 30px 0 20px 0;
      text-align: center;
      font-size: 1.5em; }
      @media (min-width: 800px) {
        #currys-style .main-content h2 {
          margin: 65px 0 10px 0; } }
      @media (min-width: 1025px) {
        #currys-style .main-content h2 {
          font-size: 1.8em; } }
    #currys-style .main-content ul {
      margin: 0 0 0 10px; }
    #currys-style .main-content .tab-title {
      font-size: 1.8em; }
      @media (min-width: 1025px) {
        #currys-style .main-content .tab-title {
          font-size: 2em; } } /* CHANGE IN SASS */
  #currys-style .mobile-chevrons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 7px 0 0 0;
    margin-right: 2px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (min-width: 800px) {
      #currys-style .mobile-chevrons {
        display: none; } }
    #currys-style .mobile-chevrons .icon-chevron-right, #currys-style .mobile-chevrons .icon-chevron-left {
      margin-right: 3px;
      color: #4855A0; }
    #currys-style .mobile-chevrons.--videos .icon-chevron-right {
      margin: 0 0 0 3px;
      font-size: 17px; }
    @media (min-width: 600px) {
      #currys-style .mobile-chevrons.--videos {
        display: none; } }
  #currys-style .main-nav {
    border-bottom: 1px solid #ccc;
    margin: 0; }
    #currys-style .main-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      padding: 0;
      height: 50px;
      overflow-x: auto; }
    #currys-style .main-nav li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 38%;
              flex: 1 0 38%;
      font-size: 15px;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0;
      list-style: none; }
      @media (min-width: 600px) {
        #currys-style .main-nav li {
          -webkit-box-flex: 1;
              -ms-flex: 1 0 29%;
                  flex: 1 0 29%; } }
      @media (min-width: 800px) {
        #currys-style .main-nav li {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; } }
      @media (min-width: 1025px) {
        #currys-style .main-nav li {
          margin: 0 10px; } }
      @media (min-width: 1240px) {
        #currys-style .main-nav li {
          margin: 0; } }
      #currys-style .main-nav li.active {
        font-weight: bold;
        border-bottom: 4px solid #4C12A1;
        }
      #currys-style .main-nav li a {
        text-decoration: none;
        color: #4C12A1;
        padding: 0;
        }
  #currys-style .intro-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 1240px) {
      #currys-style .intro-section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  #currys-style .leicester-update {
    padding: 15px 15px 0;
    border: 2px solid #000; }
    #currys-style .leicester-update.--intro {
      border: 2px solid #fff;
      padding: 0 15px; }
    #currys-style .leicester-update ul {
      margin-bottom: 10px; }
  #currys-style .intro-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #4C12A1;
    border-radius: 10px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    }
    @media (min-width: 1240px) {
      #currys-style .intro-info {
        padding: 20px;
        margin-bottom: 0;
        width: 100%; } }
    #currys-style .intro-info h1 {
      color: #fff;
      font-size: 1.6em; }
      @media (min-width: 800px) {
        #currys-style .intro-info h1 {
          font-size: 1.9em;
          margin-bottom: 20px; } }
    #currys-style .intro-info h2 {
      font-size: 1.4em; }
      @media (min-width: 800px) {
        #currys-style .intro-info h2 {
          font-size: 1.5em; } }
    #currys-style .intro-info p {
      margin: 15px 0;
    }
      #currys-style .intro-info p:last-child {
        margin-top: 25px; }
    #currys-style .intro-info a {
      text-decoration: underline;
      color: #fff; }
    #currys-style .intro-info .info-text {
      width: 100%; }
      @media (min-width: 1240px) {
        #currys-style .intro-info .info-text {
          width: 65%; } }
    #currys-style .intro-info .intro-video {
      padding: 0 5px 0 20px;
      width: 35%;
      display: none; }
      @media (min-width: 1240px) {
        #currys-style .intro-info .intro-video {
          display: block; } }
  #currys-style .tech-guide {
    background: rgb(250, 245, 255);
    margin: 0 0 10px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #2B2B79;
    }
    @media (min-width: 600px) {
      #currys-style .tech-guide {
        margin: 0; } }
    @media (min-width: 800px) {
      #currys-style .tech-guide {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media (min-width: 1240px) {
      #currys-style .tech-guide {
        display: none; } }
    #currys-style .tech-guide h2 {
      font-size: 1.3em; }
      @media (min-width: 600px) {
        #currys-style .tech-guide h2 {
          font-size: 2em; } }
      @media (min-width: 800px) {
        #currys-style .tech-guide h2 {
          font-size: 1.8em; } }
    #currys-style .tech-guide h3 {
      font-size: 1.1em;
      font-weight: 500; }
      @media (min-width: 600px) {
        #currys-style .tech-guide h3 {
          font-size: 1.3em; } }
      @media (min-width: 800px) {
        #currys-style .tech-guide h3 {
          font-size: 1.4em; } }
    #currys-style .tech-guide img {
      display: none; }
      @media (min-width: 800px) {
        #currys-style .tech-guide img {
          display: block;
          max-width: 100%;
          width: 100%; } }
    #currys-style .tech-guide .pop-up-vid {
      width: 100%; }
  #currys-style .tech-guide-text {
    padding: 20px; }
    @media (min-width: 1025px) {
      #currys-style .tech-guide-text {
        width: 60%; } }
    @media (min-width: 1240px) {
      #currys-style .tech-guide-text {
        padding: 0 20px;
        width: 100%; } }
    #currys-style .tech-guide-text:after {
      content: url("https://currys-ssl.cdn.dixons.com/css/themes/corona/img/play-button2.png");
      position: absolute;
      right: 12px;
      top: 53%;
      -webkit-transform: translateY(-53%);
              transform: translateY(-53%); }
      @media (min-width: 600px) {
        #currys-style .tech-guide-text:after {
          right: 25px; } }
  #currys-style .inner {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0; }
    @media (min-width: 800px) {
      #currys-style .inner {
        padding: 45px 0;
        width: 75%; } }
    #currys-style .inner h3 {
      font-size: 1.2em; }
      @media (min-width: 800px) {
        #currys-style .inner h3 {
          font-size: 1.4em; } }
    #currys-style .inner.--big-delivery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (min-width: 800px) {
        #currys-style .inner.--big-delivery {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
      @media (min-width: 800px) {
        #currys-style .inner.--big-delivery .big-item-delivery-text {
          width: 100%; } }
      #currys-style .inner.--big-delivery .video {
        border: 2px solid #ccc; }
        @media (min-width: 800px) {
          #currys-style .inner.--big-delivery .video {
            width: 40%; } }
  #currys-style .read-more {
    text-align: center;
    margin: 25px 20px; }
  #currys-style .more-info {
    display: block;
    background-color: rgb(250, 245, 255);
    padding: 20px 0;
    }
    @media (min-width: 800px) {
      #currys-style .more-info {
        padding: 0; } }
    #currys-style .more-info h4 {
      margin-bottom: 5px; }
    #currys-style .more-info li {
      margin-bottom: 13px; }
    #currys-style .more-info p {
      margin-bottom: 20px; }
      #currys-style .more-info p:last-child {
        margin-bottom: 0; }
  #currys-style #stores .how-to {
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 800px) {
      #currys-style #stores .how-to {
        padding-left: 50px;
        padding-right: 50px;
        width: auto;
        margin: auto; } }
    @media (min-width: 1025px) {
      #currys-style #stores .how-to {
        padding-left: 30px;
        padding-right: 30px; } }
    @media (min-width: 1240px) {
      #currys-style #stores .how-to {
        padding-left: 60px;
        padding-right: 60px; } }

/* CHANGE IN SASS */
  #currys-style #stores .shoplive {
    width: 88%;
    margin: 20px auto 50px auto;

  }

  /* CHANGE IN SASS */
  #currys-style #stores .shoplive img {
    width: 100%;
  }
  
  #currys-style #stores .stores-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    margin: 0 auto;
    /*             @include desktop{
                    margin-bottom: 0;
                } */ }
    @media (min-width: 728px) {
      #currys-style #stores .stores-info {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media (min-width: 1025px) {
      #currys-style #stores .stores-info {
        padding-top: 45px;
        width: 88%;
        margin: 50px auto 20px auto; } } /*  CHANGE IN SASS */ 
  /* CHANGE IN SASS */ 
  #currys-style #stores .stores-text {
    font-weight: 500; }
  #currys-style #stores .stores-text h3 {
    font-size: 1.3em; }
  #currys-style #stores .stores-text h4 {
    font-size: 1.1em; }
  /* CHANGE END */

    @media (min-width: 1025px) {
/*       #currys-style #stores .stores-text {
        width: 70%; }  CHANGE IN SASS */
        #currys-style #stores .stores-text h3 {
          font-size: 1.9em; } 
        #currys-style #stores .stores-text h4 {
          /* CHANGE IN SASS */
          margin-top: 25px;
          font-size: 1.3em }}
    #currys-style #stores .stores-text p {
      font-weight: 400;
      margin: 0 0 10px 0; }
      #currys-style #stores .stores-text p:last-child {
        margin-bottom: 35px; }
    @media (min-width: 1240px) {
        #currys-style #stores .stores-text {
          width: 70%; } } /* CHANGE IN SASS */
  #currys-style #stores .stores-img {
    display: none;
    position: relative; }
    /*@media (min-width: 1025px) {
    CHANGE THIS IN THE SASS FILE 
      #currys-style #stores .stores-img {
        display: block;
        -webkit-transform: scale(2) translateY(-105px) translateX(-15px);
                transform: scale(2) translateY(-105px) translateX(-15px);
        z-index: -1; } }*/
    @media (min-width: 1240px) {
      #currys-style #stores .stores-img {
        /* CHANGE IN SASS */
        display: block;
        -webkit-transform: scale(2.4) translateY(191px) translateX(38px);
                transform: scale(2.4) translateY(191px) translateX(38px); 
        z-index: -1; } }
    /* CHANGE END */
    #currys-style #stores .stores-img img {
      width: 182px;
      position: absolute;
      bottom: 0; }
      @media (min-width: 1240px) {
        #currys-style #stores .stores-img img {
          position: relative;
          width: 190px; } }
  #currys-style #stores .store-safety {
    background-color: rgb(250, 245, 255);
    padding-top: 45px;
    padding-bottom: 30px;
    }
    #currys-style #stores .store-safety .store-safety-content {
      margin: 0 auto;
      width: 85%; }
      @media (min-width: 1025px) {
        #currys-style #stores .store-safety .store-safety-content {
          width: 88%;
          z-index: 1; } }
      #currys-style #stores .store-safety .store-safety-content a {
        font-size: 16px;
        text-decoration: underline; }
    #currys-style #stores .store-safety ul {
      margin-bottom: 15px;
      /* font-size: 15px; CHANGE IN SASS */ }
      #currys-style #stores .store-safety ul li {
        margin-bottom: 5px; }
  #currys-style #stores .store-finder-banner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(250, 245, 255);
    border: 1px solid #ccc;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 35px auto 10px auto;
    padding: 10px;
    width: 85%;
    }
    @media (min-width: 1025px) {
      #currys-style #stores .store-finder-banner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 20px 30px; } }
    #currys-style #stores .store-finder-banner h3 {
      margin: 0;
      font-size: 1em;
      text-align: center; }
      @media (min-width: 1025px) {
        #currys-style #stores .store-finder-banner h3 {
          font-size: 1.2em; } }
    #currys-style #stores .store-finder-banner a {
      background: #fff;
      border: 2px solid #4C12A1;
      border-radius: 22px;
      font-size: 13px;
      font-weight: 500;
      color: #4C12A1;
      text-align: center;
      line-height: 15px;
      padding: 10px 30px;
      text-decoration: none;
      margin: 5px;
      display: inline-block;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      }
      @media (min-width: 1025px) {
        #currys-style #stores .store-finder-banner a {
          margin: 0 0 0 25px; } }
  #currys-style #stores .limited-opening-hours {
    font-weight: 500;
    text-align: center;
    margin-top: 17px;
    padding: 0 15px; }
  #currys-style #stores .shop-live {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto 30px auto;
    text-align: center;
    width: 88%; } /* CHANGE IN SASS */

    /* CHANGE IN SASS */
    @media (min-width: 600px) {
        #currys-style #stores .shop-live {
            width: 64%;
        } }

    @media (min-width: 1025px) {
      #currys-style #stores .shop-live {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; 
        } }
    @media (min-width: 1025px) {
      #currys-style #stores .shop-live p {
        /*width: 55%;*/
        /*margin: 0 36px 0 0;*/
        margin: 0; /* CHANGE IN SASS*/
        text-align: left;
        font-weight: 500; } }
    
  #currys-style #stores .shop-live-btn {
    background: #fff;
    border: 2px solid #4C12A1;
    border-radius: 22px;
    font-size: 13px;
    font-weight: 500;
    color: #4C12A1;
    text-align: center;
    line-height: 15px;
    padding: 10px 30px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    width: 50%;
    }
  #currys-style #stores .how-to {
    margin: 40px 0 0 0;
    padding: 0 15px; }
    @media (min-width: 800px) {
      #currys-style #stores .how-to {
        padding: 25px 50px;
        width: auto;
        margin: auto; } }
    @media (min-width: 1025px) {
      #currys-style #stores .how-to {
        padding: 15px 30px; } }
    @media (min-width: 1240px) {
      #currys-style #stores .how-to {
        padding: 45px 60px 0 60px; } } /* CHANGE IN SASS */
    #currys-style #stores .how-to a {
      text-decoration: underline; }
    #currys-style #stores .how-to picture img {
      max-width: 100%;
      width: 100%; }
  #currys-style #stores .drive-thru-store-finder {
    text-align: center;
    font-size: 17px; }
  #currys-style #stores .steps {
    display: block;
    margin-top: 55px; }
    @media (min-width: 1025px) {
      #currys-style #stores .steps {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    #currys-style #stores .steps div:last-child {
      margin-bottom: 10px; }
    @media (min-width: 1025px) {
      #currys-style #stores .steps div:first-child {
        margin-left: 0; }
      #currys-style #stores .steps div:last-child {
        margin-right: 0;
        margin-bottom: 15px; } }
    #currys-style #stores .steps .step {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 3px;
      position: relative;
      padding: 50px 30px 30px 30px;
      text-align: center;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-weight: 500;
      margin: 67px auto;
      width: 70%;
      }
      @media (min-width: 600px) {
        #currys-style #stores .steps .step {
          padding: 50px 30px 20px 30px;
          width: 60%; } }
      @media (min-width: 1025px) {
        #currys-style #stores .steps .step {
          margin: 15px 10px;
          padding: 60px 20px 30px 20px; } }
      @media (min-width: 1240px) {
        #currys-style #stores .steps .step {
          padding: 60px 25px 30px 25px; } }
      #currys-style #stores .steps .step img {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        top: -44px;
        width: 83px; }
  #currys-style #stores .on-foot {
    margin: 25px 0 0 0; }
  #currys-style #stores .additional-info {
    width: 85%;
    margin: 0 auto;
    padding: 20px; }
    @media (min-width: 1025px) {
      #currys-style #stores .additional-info {
        width: 88%; } }
    @media (min-width: 1240px) {
      #currys-style #stores .additional-info {
        padding-bottom: 65px; } } /* CHANGE IN SASS */
    #currys-style #stores .additional-info div {
      margin-top: 45px; } 
  #currys-style .stores-video {
    width: 100%; }
    @media (min-width: 600px) {
      #currys-style .stores-video {
        width: 75%;
        margin: 0 auto; } }
    @media (min-width: 728px) {
      #currys-style .stores-video {
        width: 70%; } }
    @media (min-width: 1025px) {
      #currys-style .stores-video {
        display: block;
        width: 60%; } }
    @media (min-width: 1025px) {
      #currys-style .stores-video h2 {
        font-size: 1.7em;
        margin-top: 30px; } }
    #currys-style .stores-video.--opening {
      margin-top: 60px; }
      @media (min-width: 1025px) {
        #currys-style .stores-video.--opening {
          margin: 60px auto 30px auto; } }

  #currys-style .store-list {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }  
  @media (min-width: 728px){
    #currys-style .store-list {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
      }  
  }    
  @media (min-width: 1025px){
    #currys-style .store-list {
        width: 60%;
        grid-template-columns: repeat(3, 1fr);
      }  
  }
  #currys-style .store-list a{
    padding: 5px 0;
    font-size: 14px;
  }
  @media (min-width: 728px){
    #currys-style .store-list a{
        padding: 3px 0;
      }
  }
  #currys-style .store-list .icon-chevron-right{
    font-size: 10px;
  }

  #currys-style #install-recycle .video-section {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    overflow-x: auto; }
    @media (min-width: 450px) {
      #currys-style #install-recycle .video-section {
        grid-template-columns: repeat(4, 65%); } }
    @media (min-width: 600px) {
      #currys-style #install-recycle .video-section {
        grid-template-columns: repeat(2, 1fr); } }
  #currys-style #install-recycle .video {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 85%;
            flex: 1 0 85%;
    padding: 7px; }
    @media (min-width: 600px) {
      #currys-style #install-recycle .video {
        -webkit-box-flex: 1;
            -ms-flex: 1 50%;
                flex: 1 50%;
        padding: 13px; } }
  #currys-style #install-recycle .recycling-update {
    margin: 25px 0; }
  #currys-style #install-recycle .more-info p {
    margin: 32px 0 13px 0; }
  #currys-style #returns h4 {
    font-size: 1.3em; }
  #currys-style .returns-policy h3 {
    font-size: 1.8em; }
  #currys-style .returns-policy a {
    text-decoration: underline;
    color: #4C12A1;
    }
  #currys-style .how-to-return {
    margin-top: 40px; }
/* CHANGE THIS IN SASS FILE */
  #currys-style .order-highlight {
    background-color: #fefaf1;
    border: #f5d0af 2px solid;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 15px; }
    #currys-style .order-highlight h4 {
      font-size: 1.5em; }
    #currys-style .order-highlight p {
      font-size: 14.5px;
      margin-bottom: 10px; }
    #currys-style .order-highlight a p {
      font-size: 16px;
      margin-bottom: 0; }
    #currys-style .order-highlight.--christmas {
      margin-top: 25px; }
/* CHANGE END */

  #currys-style .service-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 0;
    column-gap: 15px;
  }   
  @media (min-width: 600px){
    #currys-style .service-grid{
      grid-template-columns: repeat(2, 1fr);
    }  
  }
  #currys-style .service-grid a{
    padding: 0 0 15px 0;
  }   
  #currys-style .service-grid .icon-chevron-right{
    font-size: 12px;
  }   


  #currys-style .videoWrapper {
    border: 1px solid #ccc;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
    #currys-style .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
  #currys-style .contact-us.inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  #currys-style .faqs {
    margin: 55px auto 0 auto;
    padding: 0 10px;
    width: 90%; }
    @media (min-width: 800px) {
      #currys-style .faqs {
        margin: 0 auto;
        width: 58%; } }
    #currys-style .faqs h2 {
      text-align: center; }
    #currys-style .faqs .question {
      border-bottom: 1px solid #ccc; }
      #currys-style .faqs .question:last-child {
        margin-bottom: 60px; }
      #currys-style .faqs .question a {
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        #currys-style .faqs .question a:after {
          content: "\e60c";
          font-family: 'DCG-Icons', Arial, sans-serif;
          color: #777;
          font-size: 21px;
          margin-left: auto;
          -webkit-transition: all .2s;
          transition: all .2s; }
        #currys-style .faqs .question a.active:after {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg); }
      #currys-style .faqs .question .content-wrap {
        padding: 10px; }
        #currys-style .faqs .question .content-wrap a {
          text-decoration: underline;
          display: inline; }
          #currys-style .faqs .question .content-wrap a:after {
            content: none; }
    #currys-style .faqs ul {
      padding: 0 0 10px 30px;
      margin: 0; }
    #currys-style .faqs li {
      list-style-type: disc; }
    #currys-style .faqs p {
      /* font-size: 15px; CHANGE IN SASS*/
      margin: 0;
      padding: 20px 0; }
    #currys-style .faqs .click p {
      font-weight: bold; }
    #currys-style .faqs .content-wrap {
      background-color: #F2F2F2; }
      #currys-style .faqs .content-wrap p {
        padding: 20px 10px; }
    #currys-style .faqs .all-faqs-btn {
      text-align: center;
      margin: 60px 0 90px 0; }
      #currys-style .faqs .all-faqs-btn a {
        border-radius: 3px;
        display: inline-block;
        padding: 15px 90px;
        border: 3px solid #4855A0; }
    #currys-style .faqs [class^="col"], #currys-style .faqs [class*="col"] {
      display: inline; }
  #currys-style .bottom-banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px; }
    @media (min-width: 1025px) {
      #currys-style .bottom-banners {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    #currys-style .bottom-banners a {
      width: 100%;
      /*@include small-desktop{
          width: 50%;
      } */
      /* &:first-child{
          margin: 0 0 10px 0;
          @include small-desktop{
              margin: 0 10px 0 0;
          }
      } */ }
      #currys-style .bottom-banners a img {
        max-width: 100%; }

.popInContainer.--intro-pop-up {
  margin-left: 0 !important;
  top: 171px !important;
  width: 320px !important;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  left: 50% !important; }
  @media (min-width: 450px) {
    .popInContainer.--intro-pop-up {
      width: 351px; } }
  @media (min-width: 600px) {
    .popInContainer.--intro-pop-up {
      top: 260px !important;
      width: 450px !important; } }
  .popInContainer.--intro-pop-up iframe {
    width: 100%; }
    @media (min-width: 600px) {
      .popInContainer.--intro-pop-up iframe {
        height: 242px; } }

.popInTrigger:after {
  display: none; }

/*# sourceMappingURL=covid-page-wk14.css.map */