@import "_responsive-mixins.scss";
@import "_fonts.scss";

$currys-dark-purple: #4c12a1;
$currys-light-purple: rgb(250, 245, 255);

* {
  box-sizing: border-box;
}

@mixin rounded-corners {
  border-radius: 10px;
}

@mixin content-padding {
  padding: 30px 8.5%;
  @include small-desktop {
    padding: 30px 13.5%;
  }
}

/* MAIN STYLING */

body {
  font-family: "CurrysSans", sans-serif;
  margin: 0 auto;
  font-size: 16px;
  @include small-tablet {
    font-size: 18px;
  }
  @include desktop {
    width: 1240px;
  }
}

#currys-style {
  .currys-bg-color {
    background-color: $currys-light-purple;
  }

  .order-highlight {
    background-color: #fefaf1;
    border: #f5d0af 2px solid;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 15px 15px 0 15px;

    h3 {
      margin: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
  .videoWrapper {
    @include rounded-corners();
    border: 1px solid #ccc;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  a {
    text-decoration: none;
  }

  ul,
  ol {
    padding-left: 20px;
    @include tablet {
      padding-left: 40px;
    }
  }

  /*---------------- INTRO ----------------*/
  .intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include rounded-corners;
    background-color: $currys-dark-purple;
    color: #fff;
    padding: 10px 25px;
    margin: 10px;
    @include rounded-corners;

    @include desktop {
      padding: 20px 40px;
      margin: 0;
      flex-direction: row;
    }

    h1 {
      color: #fff;
      font-size: 1.6em;
      @include tablet {
        flex: 100%;
        font-size: 1.9em;
        margin: 10px 0 0 0;
      }
    }
    h2 {
      font-size: 1.4em;
      @include tablet {
        font-size: 1.5em;
      }
    }
    p {
      margin: 15px 0;
      font-size: 15px;
      &:last-child {
        margin-top: 25px;
      }
    }
    a {
      text-decoration: underline;
      color: #fff;
    }
    .intro-text {
      width: 100%;
      @include desktop {
        width: 65%;
      }
    }
    .intro-video {
      padding-left: 3%;
      width: 35%;
      display: none;
      @include desktop {
        display: block;
        align-self: center;
      }
    }
  }

  .safety-video-mobile {
    @include rounded-corners;
    background: $currys-light-purple;
    color: $currys-dark-purple;
    margin: 10px;
    padding: 15px 23px;
    display: flex;

    @include small-desktop {
      display: none;
    }

    p:first-child {
      font-size: 25px;
      font-weight: bold;
      margin: 13px 0 0 0;
    }

    h2 {
      font-size: 1.3em;
      @include large-mobile {
        font-size: 2em;
      }
      @include tablet {
        font-size: 1.8em;
      }
    }

    h3 {
      font-size: 1.1em;
      font-weight: 500;
      @include large-mobile {
        font-size: 1.3em;
      }
      @include tablet {
        font-size: 1.4em;
      }
    }
  }

  .video-bg{
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
  }

  .pop-up-vid {
    position: fixed;
    width: 95%;
    top: 50vh;
    transform: translate(3%, -50%);
    @include large-mobile{
      width: 65%;
      transform: translate(30%, -50%);
    }

    .close-btn{
      background-color: green;
      width: 50px; 
      height: 50px; 
      display: flex;
      margin-left: auto;
    }
  }

  .how-to-buy {
    align-items: center;
    background: rgb(250, 245, 255);
    color: #4c12a1;
    display: none;
    margin: 10px;
    padding: 6px;
    @include rounded-corners;
    @include large-mobile {
      display: flex;
      justify-content: space-around;
    }
    @include desktop {
      padding: 15px 0;
      margin: 10px 0;
    }
    .how-to-buy-text {
      display: flex;
      align-items: center;
      width: 15%;
    }
    .vertical-line {
      border-left: 1px solid $currys-dark-purple;
      height: 45px;
    }
    .ways-to-buy {
      display: flex;
      padding: 8px 0;
      //align-items: flex-start;
      justify-content: center;
      width: 85%;
      align-items: center;
      @include desktop {
        padding: 0;
        width: 85%;
      }
    }
    .option {
      display: flex;
      // /padding: 0px 10px;
      width: 33%;
      //align-content: center;
      justify-content: center;
      @include small-desktop {
        padding: 0;
        align-items: center;
      }

      picture {
        align-self: center;
      }
    }
    h2,
    h3 {
      font-size: 12px;
      @include small-desktop {
        font-size: 14px;
      }
    }
    h2 {
      width: 100%;
      margin: 0;
      text-align: center;
      font-size: 15px;
      @include small-desktop {
        font-size: 17px;
      }
    }
    h3 {
      margin: 0 0 3px 0;
    }
    .option-text {
      margin-left: 8px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    p {
      font-size: 12px;
      margin: 0;
      @include small-desktop {
        font-size: 13px;
      }
    }
    img {
      height: 35px;
      width: auto;
      @include small-desktop {
        height: 49px;
      }
    }
  }

  .how-to-buy-mobile {
    display: block;
    background: $currys-dark-purple;
    margin: 10px;
    color: #fff;
    @include rounded-corners;
    @include large-mobile {
      display: none;
    }

    h2 {
      padding: 12px;
      font-size: 20px;
      text-align: center;
      margin: 0;
      &:after {
        content: ' ';
        display: inline-block;
        background: url('../img/arrow-icon.png') center no-repeat;
        background-size: 16px auto;
        margin-left: 10px;
      }
    }

    .content-wrap {
      border-top: 1px solid white;
      display: none;
      padding: 0 0 15px 0;

      div {
        flex: 0 1 33%;
        justify-content: center;
        img {
          display: block;
          margin: 0 auto;
          padding: 10px 0;
        }
      }
      &.active {
        display: flex;
      }
    }

    .how-to-buy-text-mobile {
      text-align: center;
      h3 {
        font-size: 18px;
        margin: 0;
      }
      p {
        margin: 5px 0;
        font-size: 15px;
      }
      a {
        color: #fff;
      }
    }
  }

  .mobile-chevrons {
    display: flex;
    padding: 7px 0 0 0;
    margin-right: 2px;
    justify-content: flex-end;
    @include tablet {
      display: none;
    }
    .icon-chevron-right,
    .icon-chevron-left {
      margin-right: 3px;
      color: #4855a0;
    }
    &.--videos {
      .icon-chevron-right {
        margin: 0 0 0 3px;
        font-size: 17px;
      }
      @include large-mobile {
        display: none;
      }
    }
  }

  nav {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    margin: 0;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      height: 50px;
      overflow-x: auto;
    }
    li {
      display: flex;
      flex: 1 0 38%;
      font-size: 15px;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 0;
      list-style: none;
      @include large-mobile {
        flex: 1 0 29%;
      }
      @include tablet {
        flex: 1;
      }
      @include small-desktop {
        margin: 0 10px;
      }
      @include desktop {
        margin: 0;
      }
      &.active {
        color: $currys-dark-purple;
        font-weight: bold;
        border-bottom: 2px solid $currys-dark-purple;
      }
      a {
        text-decoration: none;
        color: #4855a0;
        padding: 0;
      }
    }
  }

  main {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    @include rounded-corners;

    h1 {
      text-align: center;
      font-size: 35px;
      margin-top: 70px;
    }

    h2 {
      margin: 30px 0 20px 0;
      text-align: center;
      font-size: 1.6em;
      @include tablet {
        font-size: 1.9em;
        margin: 65px 0 40px 0;
      }
      @include small-desktop {
        font-size: 2em;
      }
    }

    h3 {
      font-size: 1.3em;
      @include desktop {
        font-size: 1.5em;
      }
    }

    section {
      &:not(#stores) {
        display: none;

        > div {
          @include content-padding;

          h4 {
            margin-bottom: 5px;
          }

          li {
            font-size: 17px;
            margin-bottom: 10px;
          }

          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .stores-info {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    @include small-tablet {
      flex-wrap: wrap;
      flex-direction: row;
    }
    @include small-desktop {
      width: 83%;
      h2 {
        flex: 100%;
        margin-bottom: 0;
        text-align: left;
      }
    }
  }

  .stores-text {
    font-weight: 500;
    @include small-desktop {
      width: 70%;
    }
    h4 {
      font-size: 20.5px;
    }
    p {
      font-weight: 400;
      margin: 0;
      &:nth-child(-n + 3) {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      &:last-child {
        margin-bottom: 80px;
      }
      @include small-desktop {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    li {
      margin-bottom: 8px;
    }
  }

  .stores-img {
    display: none;
    position: relative;
    @include small-desktop {
      display: block;
      width: 30%;
    }
    img {
      width: 100%;
      bottom: 0;
      @include desktop {
        position: absolute;
        transform-origin: bottom;
        transform: scale(1.55) translateX(9px);
      }
    }
  }

  .shoplive {
    width: 88%;
    margin: 0 auto 60px auto;
    img {
      width: 100%;
    }
  }

  .store-safety {
    @include content-padding;
    ul {
      li {
        margin-bottom: 7px;
      }
    }
  }

  .stores-video {
    display: block;
    width: 100%;
    padding: 0 25px 25px 25px;
    @include small-tablet {
      padding: 0 15% 45px 15%
    }
    @include small-desktop {
      display: block;
      padding: 30px 20.5% 80px 20.5%;
    }

    h2 {
      @include small-desktop {
        margin-top: 30px;
      }
    }
  }

  .store-finder-banner {
    @include rounded-corners;
    align-items: center;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px auto 10px auto;
    padding: 10px 5px;
    width: 90%;

    @include small-desktop {
      flex-direction: row;
      padding: 20px 10px;
      margin: 50px auto 10px auto;
    }

    h3 {
      margin: 0;
      font-size: 16px;
      text-align: center;
      @include small-desktop {
        font-size: 19px;
      }
    }
    a {
      align-items: center;
      border-radius: 22px;
      border: 2px solid $currys-dark-purple;
      background-color: #fff;
      color: $currys-dark-purple;
      padding: 10px 25px;
      margin: 10px 0 0 0;
      display: inline-block;
      text-align: center;
      @include small-desktop {
        margin: 0 0 0 25px;
      }
    }
  }

  .limited-opening-hours {
    font-weight: 500;
    text-align: center;
    margin-top: 24px;
    padding: 0 15px;
  }

  .how-to {
    margin: 40px 0 0 0;
    //@extend %store-div-padding;
    padding: 0 15px;
    @include tablet {
      padding: 25px 50px;
      width: auto;
      margin: auto;
    }
    @include small-desktop {
      padding: 15px 30px;
    }
    @include desktop {
      padding: 45px 60px 20px 60px;
    }
    picture {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    > p {
      text-align: center;
    }
  }

  .steps {
    display: block;
    margin-top: 55px;
    @include small-desktop {
      display: flex;
    }
    div {
      &:last-child {
        margin-bottom: 10px;
      }
      @include small-desktop {
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }
    .step {
      border: 1px solid #ccc;
      border-radius: 3px;
      position: relative;
      padding: 50px 30px 30px 30px;
      text-align: center;
      flex: 1;
      font-weight: 500;
      margin: 67px auto;
      width: 70%;
      @include large-mobile {
        padding: 50px 30px 20px 30px;
        width: 60%;
      }
      @include small-desktop {
        margin: 15px 10px;
        padding: 60px 20px 30px 20px;
      }
      @include desktop {
        padding: 60px 25px 30px 25px;
      }
      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -44px;
        width: 83px;
      }
    }
  }

  .on-foot {
    margin: 25px 0 0 0;
  }

  #install {
    .video-section {
      display: grid;
      grid-template-columns: repeat(4, 100%);
      overflow-x: auto;
      @include mobile {
        grid-template-columns: repeat(4, 65%);
      }
      @include large-mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .video {
      flex: 1 0 85%;
      padding: 7px;
      @include large-mobile {
        flex: 1 50%;
        padding: 13px;
      }
    }
    .recycling-update {
      margin: 25px 0;
    }
    .more-info {
      p {
        margin: 32px 0 13px 0;
      }
    }
  }

  .returns-policy {
    a {
      text-decoration: underline;
    }
  }

  .how-to-return {
    margin-top: 40px;
  }

  .faqs {
    h2 {
      text-align: center;
      margin: 70px 0 40px 0px;
    }
    .question-wrap {
      border-bottom: 1px solid #ccc;
      &:last-child {
        margin-bottom: 60px;
      }
      &.active {
        .answer {
          display: block;
        }
        .question::after {
          transform: rotate(45deg);
        }
      }
      .question {
        color: #000;
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 0;

        &:after {
          content: "\e60c";
          font-family: "DCG-Icons", Arial, sans-serif;
          color: #777;
          font-size: 21px;
          margin-left: auto;
          transition: all 0.2s;
        }
      }
      .answer {
        display: none;
        padding: 20px;
        background-color: #f2f2f2;
        a {
          text-decoration: underline;
          display: inline;
          // &:after {
          //   content: none;
          // }
        }
      }
    }
    ul {
      padding: 0 0 10px 30px;
      margin: 0;
    }
    li {
      list-style-type: disc;
    }
  }
}
.bottom-banners {
  img {
    max-width: 100%;
  }
}
.popInContainer {
  &.--intro-pop-up {
    margin-left: 0 !important;
    top: 171px !important;
    width: 320px !important;
    transform: translateX(-50%) !important;
    left: 50% !important;
    @include mobile {
      width: 351px;
    }
    @include large-mobile {
      top: 260px !important;
      width: 450px !important;
    }
    iframe {
      width: 100%;
      @include large-mobile {
        height: 242px;
      }
    }
  }
}
.popInTrigger:after {
  display: none;
}
